version: "3"

services:
  database:
    build: src/DataBase/
    command: java DataBase.java
    network_mode: host

  broker:
    depends_on:
      - "database"
    build: src/Broker/
    command: java Broker.java
    network_mode: host

  computer:
    depends_on:
      - "broker"
    build: src/Computer
    command: java Computer.java 1
    network_mode: host

  printer:
    depends_on:
      - "broker"
    build: src/Printer/
    command: java Printer.java
    network_mode: host

  tcpdump:
    image: kaazing/tcpdump
    network_mode: "host"
    volumes:
      - ./tcpdump:/tcpdump
