version: "3"

services:
  database:
    build: src/DataBase/
    command: java DataBase.java 1
    network_mode: host

  # broker:
  #   build: src/Broker/
  #   command: java Broker.java 2
  #   network_mode: host

  printer:
    build: src/Printer/
    command: java Printer.java 3
    network_mode: host

  tcpdump:
    image: kaazing/tcpdump
    network_mode: "host"
    volumes:
      - ./tcpdump:/tcpdump
